### Nível Introdutório

### Variáveis e Operadores em Python:

In [ ]:
# Declaração múltipla:

var1, var2, var3 = 'Maria', 'João', 'Guilherme'

# Variáveis são case sensitive: var1 e Var1 são duas variáveis distintas

('Maria', 'João', 'Guilherme')

In [5]:
# Concatenação de variáveis

nome = 'Bob'
sobrenome = 'Marley'
completo = nome + " " + sobrenome
completo

'Bob Marley'

In [11]:
# Indexação de Strings:

frase = 'Data Science Academy'
frase[3], frase[0]

('a', 'D')

In [ ]:
# Slicing em Strings:
# Retorna tudo, iniciando a partir do primeiro argumento e finalizando antes do último (o segundo argumento é exclusivo)
frase = 'Data Science Academy'
frase[2:5]

'ta '

In [ ]:
# Com índice negativo, retorna tudo exceto a última letra:
frase = 'Data Science Academy'
frase[:-1]

'Data Science Academ'

In [ ]:
# usando dois pontos duas vezes podemos fatiar a string em pedaços específicos:
frase = 'Data Science Academy'
frase[::2] # salta de dois em dois

'Dt cec cdm'

In [5]:
# com o índice negativo e dois pontos:
frase = 'Data Science Academy'
frase[::-1]

'ymedacA ecneicS ataD'

Não é possível modificar elementos individuais na string (mudar uma letra) pois a string é IMUTÁVEL no python.

In [6]:
# Podemos usar o operador de multiplicação para repetir uma string
letra = 'x'
letra * 3

'xxx'

#### Funções BuiltIn de Strings:

In [9]:
frase = 'Data Science Academy'

# método para colocar em letras maiúsculas

frase.upper()   

# método para colocar em letras minúsculas

frase.lower()

'data science academy'

### Trabalhando com Estruturas em Python: Listas, Dicionários e Tuplas

### Listas

In [20]:
# Criando uma Lista:
lista = ['arroz', 'feijao', 'batata', 'macarrão']
# Listas são usadas usando colchetes. é uma estrutura de dados para armazenar dados em uma única variável.
lista

['arroz', 'feijao', 'batata', 'macarrão']

In [21]:
# Atribuindo cada valor da lista a uma variável:
item1 = lista[0]
item2 = lista[1]
item3 = lista[3]
item1, item2, item3

('arroz', 'feijao', 'macarrão')

In [22]:
# Deletando um item da lista

del lista[2]
lista

['arroz', 'feijao', 'macarrão']

In [23]:
# Aninhando Lista

listaAninhada = [lista, 'abacaxi', 'morango', 'abacate']
listaAninhada

[['arroz', 'feijao', 'macarrão'], 'abacaxi', 'morango', 'abacate']

In [25]:
# Atribuindo um elemento da lista a uma variável:

ingrediente = listaAninhada[0][1]
ingrediente, listaAninhada

('feijao', [['arroz', 'feijao', 'macarrão'], 'abacaxi', 'morango', 'abacate'])

In [26]:
# Usando o elemento da lista para operações:

compras = ingrediente + ': precisamos comprar!'
compras

'feijao: precisamos comprar!'

In [27]:
# Somando listas

lista1 = [1, 2, 3]
lista2 = [3, 4, 5]
lista3 = lista1 + lista2
lista3

[1, 2, 3, 3, 4, 5]

In [28]:
# Operador In:
lista_teste = [50, 45, 23, 76]
print(50 in lista_teste)

True

#### Funções Built-In:

In [11]:
lista_numeros = [2, 8, 46, 78, 13, 64]

##### Len:

In [ ]:
# len: retorna o tamanho da lista 
len(lista_numeros)

6

##### Max:

In [10]:
# max: retorna o valor máximo da lista
max(lista_numeros)

NameError: name 'lista_numeros' is not defined

##### Adicionando um item à lista: append

In [ ]:
lista_numeros.append('item extra')
lista_numeros

[2, 8, 46, 78, 13, 64, 'item extra']

In [43]:
# criando uma lista vazia

a = []

In [ ]:
# adicionando itens conforme necessário:

a.append('item adicionado')
a

In [47]:
# copiando itens de uma lista para uma nova lista:

for item in lista_numeros:
    a.append(item)
a

['item adicionado', 'item adicionado', 2, 8, 46, 78, 13, 64, 'item extra']

##### Max:

In [1]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [2]:
cidades.index('Salvador')

2

In [3]:
# para inserir um item a um índice específico:
cidades.insert(2, 'Vitória')
cidades

['Recife', 'Manaus', 'Vitória', 'Salvador', 'Fortaleza', 'Palmas']

In [5]:
# para remover um item de um índice específico:
cidades.remove('Recife')
cidades

['Manaus', 'Vitória', 'Salvador', 'Fortaleza', 'Palmas']

In [8]:
# para reverter a lista:
cidades.reverse()
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Vitória', 'Manaus']

In [12]:
# para ordenar uma lista:
lista_numeros.sort()
lista_numeros

[2, 8, 13, 46, 64, 78]

### Dicionários

In [17]:
# isto é um dicionário:
# dicionários são formados por pares de chave e valor
estudantes = {'Pedro': 24, 'Ana': 22, 'Roberto': 26, 'Hugo': 25}
type(estudantes)

dict

In [14]:
# para encontrar o valor associado a uma chave:
estudantes['Pedro']

24

In [18]:
# adicionando um novo par ao dicionário:
# dessa forma um par é adicionado ao fim do dicionário
estudantes['Marcelo'] = 21
estudantes

{'Pedro': 24, 'Ana': 22, 'Roberto': 26, 'Hugo': 25, 'Marcelo': 21}

In [ ]:
# para limpar um dicionário usamos o método clear:
# dessa forma o dicionário continua existindo, mas vazio. Para DELETAR o dicionário da memória usamos o método 'del'
estudantes.clear()
estudantes

{}

In [19]:
len(estudantes)

5

In [20]:
# para pegar apenas as chaves:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Roberto', 'Hugo', 'Marcelo'])

In [ ]:
# Para adicionar elementos de um outro dicionário usamos o método update:
estudantes_2 = {'Juan': 27, 'Fernanda': 22}
estudantes.update(estudantes_2)
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Roberto': 26,
 'Hugo': 25,
 'Marcelo': 21,
 'Juan': 27,
 'Fernanda': 22}

##### Dicionário de listas:

In [22]:
# dicionário de listas:

dict3 = {'chave': 1230, 'chave2': [24, 30, 57, 64], 'chave3': ['picanha', 'fraldinha', 'alcatra']}
dict3

{'chave': 1230,
 'chave2': [24, 30, 57, 64],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [25]:
# Acessando um item da lista, dentro do dicionário:
dict3['chave3'][0].upper()

'PICANHA'

In [26]:
dict3['chave2'][0] + 20

44

In [27]:
# para alocar um item no próprio lugar:
dict3['chave2'][0] -= 15
dict3

{'chave': 1230,
 'chave2': [9, 30, 57, 64],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [28]:
# dicionários aninhados:
dict_aninhado = {'key1': {'key2' : {'key3': 'dicionário aninhado'}}}
dict_aninhado['key1']['key2']['key3']

'dicionário aninhado'

### Tuplas

Tuplas são usadas para elementos que são IMUTÁVEIS, como parâmetros que serão usados em funções ou para tratar dados. Caso queira modificar os itens, devemos criar listas ou dicionários.

In [29]:
tupla = ('Geografia', 23, 'Elefantes', 9.8, 'Python')
tupla

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [ ]:
# Tuplas NÃO suportam append, deletar um item específicos e não podem ter um único item:
tupla.append('teste') # Erro

In [ ]:
# Tuplas também não suportam atribuição de item:
tupla[1] = 25 # Erro

23

In [32]:
# Convertendo a tupla para uma lista:

lista_tupla = list(tupla)
lista_tupla

['Geografia', 23, 'Elefantes', 9.8, 'Python']